# Rust
target/
# Cargo.lock  <-- garder pour binaire

# Binaries
*.exe
*.pdb

# Logs / outputs
*.log
loki_*.jsonl
loki_*.html

# Runtime folders
output/
JSON/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Temp
tmp/
build/
dist/

# Python (AMSR env)
__pycache__/
*.pyc

# Config (user-specific)
config/excludes.cfg

signatures/