[package]
name = "loki"
version = "2.0.0"
edition = "2021"

[[bin]]
name = "loki"
path = "src/main.rs"

[[bin]]
name = "loki-util"
path = "src/loki_util/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.*"
walkdir = "2.3.*"
rustop = "1.1.*"
arrayvec = "0.7.*"
flexi_logger = "*"
sysinfo = "*"
human_bytes = "0.4.*"
filesize = "*"
file-format = "*"
csv = "1.1.*"
md5 = "*"
sha1 = "*"
sha2 = "0.10.*"
hex = "0.4.*"
memmap = "0.7.*"
chrono = "*"
regex = "1.*"
yara-x = "1.10.0"
reqwest = { version = "0.11", features = ["blocking"] }
zip = "0.6"
flate2 = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
